@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "verdana";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/verdana.ttf") format("truetype");
}

@layer base {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-xs sm:text-sm;
  }
  body {
    @apply bg-dark-blue selection:bg-main-blue;
  }
}

@layer components {
  .icon-transition {
    @apply transition-all duration-500 hover:text-main-blue hover:-translate-y-1 hover:scale-110;
  }
}

main {
  height: 100vh;
  /* background: rgb(178, 102, 210);
  background: radial-gradient(
    circle,
    rgba(178, 102, 210, 0.2) 0%,
    rgba(36, 32, 59, 1) 50%
  ); */
}

.fp-watermark {
  display: none !important;
}

.fp-overflow {
  overflow-y: inherit !important;
}

.fp-overflow:focus-visible {
  outline: none !important;
}
